* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
  
    background: transparent;
  
    font-family: 'Roboto', sans-serif;
    
    text-decoration: none;
}
  
ol, ul, li {
    list-style:none;
    display:block;
}
  
table {
    border-collapse:collapse;
    border-spacing:0
}
  
a img {
    border: none
}
  
button, a {
    cursor: pointer;
    color: inherit
}
  
textarea {
    resize: none
}
  
button, input, textarea, select {
    appearance: none !important;
    -webkit-appearance: none !important;
    border-radius: 0
}
body
{
    color: #fff;
    background-color:#666;
    
}
header{
    z-index:100;
    background-color: #fff;
    color:#666;
    display:flex;
    padding-right: 20px;
    padding-left: 20px;
    width:100%;
    height:80px;
    position:fixed;
    justify-content: space-between;
    align-items: center;
    font-size: 36px;
    box-shadow: 0px 5px rgba(0, 0, 0, 0.25);
}

header button{
    width: 60px;
    height: 60px;
    background-color:#666;
    color:#fff;
    border-radius: 30px;
}
span.material-icons{
    font-size: 36px;
}
div#card-container{
    position: relative;
    z-index: 1;
    left:50%;
    transform: translateX(-50%);
    padding-top:120px;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}
div#card{
    position: relative;
    display: flex;
    margin: 30px;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    width:300px;
    height:400px;
    background-color: #fff;
    color: #666;
    padding: 40px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.25);
}
div#title{
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 10px;
    border-bottom: 1px solid #666;
}
div#sub
{
    display:flex;
    background-color: #666;
    color: #fff;
    width: 160px;
    height: 160px;
    font-size: 80px;
    font-weight: 400;
    justify-content: center;
    align-items: center;
    border-radius: 80px;
    margin-bottom: 20px;
    
}
div#text{
    margin-top: 10px;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}
div button
{
    display: flex;
    width:160px;
    height: 50px;
    font-size: 14px;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom:0;
    transform: translateY(50%);
    background-color: #fff;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    border: 1px solid #666 ;
    padding-left: 20px;
    padding-right: 20px;
}
div button:hover
{
    background-color: #666;
    color: #fff;
}
